.EditorSpaceMain{
    height: 65vh;
    width: 98%;
    overflow-y: auto;
    background-color: #111318;
    border-radius: 15px;
    margin: auto;
    margin-top: 5px;
    border: solid 2px white;
    display: flex;
}
.EditorSpaceMainLeft{
    height: 100%;
    /* background-color: #2e333f; */
}
.EditorSpaceMainLeftWarp{
    margin-left: 8px;
    margin-top: 10px;
}
.EditorSpaceLineNumber{
    margin: auto;
}
.EditorSpaceLineNumberWarp{
    width: 100%;
    margin-top: 1px;
    display: flex;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 90%;
}
.EditorSpaceMainRight{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.EditorSpaceMainEditArea{
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 7px;
    margin-left: 4px;
    min-width: 100%;
    background-color: #11131800;
    color: white;
    font-family: 'Nunito', sans-serif;
    line-height: 21px;
    font-size: 110%;
    border: none;
    outline: none;
    overflow-wrap: none;
    white-space:nowrap;
}