.FileViewerFileMainIcon{
    width: 20px;
    height: 20px;
}
.FileViewerFileMain{
    width: 100%;
    display: flex;
    color: white;
    margin-top:5px;
}
.FileViewerFileName{
    margin-left: 5px;
}
