.NewButtonMain{
    width: 90%;
    height: 45px;
    background-color: rgb(195, 255, 0);
    background-color:rgb(95, 95, 255);
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
    display: flex;
}
.NewButtonMainText{
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 120%;
    margin: auto;
    font-weight: 700;
}